
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="col-md-12">

        <form method="post" action="{% url 'CredentialsView' %}">
            {% csrf_token %}
            <div class="container">
                <div class="row justify-content-center">
                    <h1 class="text-center" style="color:#6c6cda;">Github User Info</h1>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <h4 class="text-center" style="color:#1c2161;">Provide Any vallid git hub user's access token to start </h4>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">

                </div>
                <div class="col-md-6">
                    
                    <div class="row">
                    
                        <div class="col-md-2"><label>
                                <h4 class="required">authtoken :</h4>
                            </label></div>
                        <div class="col-md-3">{{ form.authtoken }}</div>
                        <span class="error">
                            <label class="error">{{form.authtoken.errors.as_text}}</label>
                        </span>
                        {% if status == '1' %}
                        <p class=" label label-danger">
                            Bad Credentials
                        </p>
                        {% elif status == '2' %}
                        <p class=" label label-danger">
                            Check the Credentials are valid
                        </p>
                        {% endif %}
                    </div>
                    <div class="col-md-6 noMargin">
                        <div class="pull-left">
                            <button type="submit" class="btn btn-primary btn-cons"><i class="icon-ok"></i> Submit</button>
                        </div>
    
                    </div>
                </div>

            </div>
            

        </form>

    </div>


</body>

</html>